$borderGray: "#e0e0e0";
$error: "#e00000";
$gray: "#ccc";
$primary: "#313131";
$primaryDark: "#0e0e0e";
$secondary: "#0099ff";
$secondaryDark: "#006db3";
$secondaryLight: "#4dc3ff";
$success: "#00be55";
$white: "#fff";
$whiteBackground: "#f5f5f5";
$whiteText: "#f5f5f5";
